html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.gradient{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(81,130,152,1) 25%, rgba(113,94,148,1) 88%);
}
.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:rgb(0, 0, 0)
}
.feature{
    color: rgb(158, 202, 183);
}
.feature ul{
    padding-left: 2rem;
    list-style-type: none;
}
.feature ul li{
    padding-left: 2rem;
    background-image: url(dfds-removebg-preview.png);
    background-repeat: no-repeat;
    line-height:1.5rem;
    margin-bottom: 1rem;
}